@import "~bootstrap/scss/bootstrap";
@import "./Base/_variables.scss";
@import "./Componentes/home.scss";
@import "./Componentes/header.scss";

html,
body,
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
  margin: 0;
}