@import "~bootstrap/scss/bootstrap";
@import "./Base/_variables.scss";
@import "./Componentes/home.scss";
@import "./Componentes/header.scss";

html,
body,
#root {
    overflow-y: hidden;
  height: 100%;
  margin: 0;
}