@import "~bootstrap/scss/bootstrap";
@import "./Base/_variables.scss";
@import "./Componentes/home.scss";
@import "./Componentes/header.scss";
@import "./Componentes/about.scss";
@import "./Componentes/musica.scss";
@import "./Componentes/guitarra.scss";
@import "./Componentes/cardDiscos.scss";
@import "./Componentes/improvisacion.scss";
@import "./Componentes/conciertos.scss";
@import "./Componentes/cardFechas.scss";

html,
body,
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;  
  margin: 0;  
}

body{
  background-color: $color-7;
  // background-color: #3e4246;
  color: $color-2;
  
}