.main-section{
    margin-top: 150px;
}

.main-section-no-margin{
    margin-top: 0px;
}


main {
   
    min-height: 100%;
    flex: 1;
    padding: 0 1rem;
    

    .home-container{
        padding-top: 120px;
        padding-left: 100px;
        padding-right: 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        height: 100%;
    
        p {
            grid-column: 1 / 3;
            font-size: 1.5rem;
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
            
            
            
        }
        img{
            grid-column: 3 / 3;
            width: 350px;
            filter: sepia(70%);
            border-radius: 10px;
        }
        }
    
}

