main {
    background-color: $color-7;
    // background-color: #3e4246;
    color: $color-2;
    min-height: 100%;
    
    padding: 0 1rem;

    .home-container{
        padding-top: 120px;
        padding-left: 100px;
        padding-right: 100px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        height: 100%;
    
        p {
            grid-column: 1 / 3;
            font-size: 1.5rem;
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
            
            
            
        }
        img{
            grid-column: 3 / 3;
            width: 350px;
            filter: sepia(70%);
            border-radius: 10px;
        }
        }
    
}

