$color-1: #000000; //Negro
$color-2: #FFFFFF; //Blanco
$color-3: #06283B; //Azul oscuro;
$color-4: #F9A602;//Amarillo oscuro
$color-5: #00b3a0; //Turquesa-verde
$color-6: #174142;
$color-7: #1b1c1d; //gris oscuro


